---
title: "Nature of America Stamp Panes"
layout: "base"
---
<ul class="stamppanes">
  {% for pane in collections.panes | sort data.date %}
    <li>
      <a href="{{ pane.url }}"><img src="/assets/images/thumb-sn{{pane.data.sn}}.png" alt="{{pane.data.title}}" /></a>
      <a href="{{ pane.url }}">{{ pane.data.title }}</a>
      <p>{{ pane.data.place }}<br/>{{ pane.data.year }}</p>
    </li>
  {% endfor %}
</ul>